/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  width:100%;
  padding: 0;
}
a {
 color: #115111;
 text-decoration: none; /* no underline */
 font-weight: bold;
}
 button {
    background: #327828;

    padding: 3px 5px;
    color: white;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;


  width: 130px;
  height: 22px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #292;
  border: 0;
  border-bottom: 2px solid #171;

}
    }
 button:hover {
    background: #292;
    color: #ffffff;
    }
 button:active {
    background: #292;
    }

 body{
   background:#fefefe;
   font-family: verdana,arial,sans-serif;
   font-size:14px;
 }
 div{
   display: block;
   float: left;
 }

#header{
  background: #88a75c;
  /*background: #292;*/
  color: white;
  width:100%;



}

input{
  border: 1px solid #ccc;
}
form{
  padding:10px;
  width:400px;
  display:block;
}

 table.gridtable {
   font-family: arial,sans-serif;
   font-size:14px;
   color:#333333;
   border-width: 2px;
   border-color: #ffffff;
   border-collapse: collapse;
   text-align: center;
 }
 table.gridtable th {
   background:#292;
   border-width: 2px;
   padding: 8px;
   border-style: solid;
   border-color: #ffffff;
   color: #efefef;
 }
 table.gridtable td {
   background:#f0f5e1;
   border-width: 0px 1px;
   padding: 8px;
   border-style: solid;
   border-color: #ffffff;
 }
 table td
 {
   width: 200px;
 }
 #menuContainer{
   height: 300px;
   width: 300px;
   overflow:auto;
   border:2px solid #aaa;
   background-color: #f0f5e1;
   border-width: 1px;
   padding: 8px;
   border-style: solid;
   border-color: #ccc;

 }
 #bttm{
   float: down;
 }
 ul{

   border-width: 0px 1px;
   padding: 8px;
   border-style: solid;
   border-color: #ffffff;
 }

 li{
   list-style-type: none;
   font-size:14px;


 }

 #foodReceived{
   width:100%
 }

 #foods{
   width:90%;
   margin: 0 auto;
 }
 #side{
   width:350px;

 }
 #title{
   color: white;
   font-size:38px;
   width:350px;
   height:50px;
   float:right;
 }
 #status{
   
 }
